body {
    background: url('https://i.imgur.com/1kwWY4j.jpeg') no-repeat center;
    background-size: cover;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #ffffff;
}

.centered-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.centered-form div {
    margin-bottom: 15px;
}

.centered-form label,
.centered-form-modal label {
    margin-bottom: 5px;
    font-weight: bold;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}


.modal.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px;
    height: 30vh;
    border-radius: 10px;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

.modal.show .modal-content {
    transform: translateY(0);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.centered-form-modal {
    display: grid;
    place-items: center;
    height: 100%;
}

.centered-button {
    text-align: center;
}

#modalToggle:checked + .modal {
    display: block;
}

.buttons-auth-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-button {
    font-size: 15px;
    width: 40%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.auth-button:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #0056b3;
}

.button-container{
    display: grid;
    place-items: center;
}

.login-form {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 25px;
}

.form-group label {
    font-size: 18px;
    margin-bottom: 10px;
}

.buttons-auth-container {
    margin-top: 30px;
}

.auth-button {
    padding: 12px 24px;
    font-size: 16px;
}

label{
    font-weight: bold;
}

.common-input {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 4px;
}

#notifications {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.notification {
    background-color: #ffdddd;
    color: #d8000c;
    padding: 15px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
    width: 300px;
    white-space: nowrap;
}

.notification .timer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: #d8000c;
    animation: countdown 5s linear;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes countdown {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.notification.slideOut {
    animation: slideOut 0.5s ease-in-out forwards;
}

