<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Aliexpress</title>
    <link rel="stylesheet" th:href="@{styles.css}">
</head>
<body id="home-page">
<div id="notifications"></div>
<div th:if="${param.insertionError}" data-message="Fill in at least one field"></div>
<div class="wrapper">
    <div class="content-homepage">
        <h1>Users</h1>
        <div class="tracking-container">
            <table class="tracking-table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(clients)}">
                    <td colspan="5" class="no-data">No users available</td>
                </tr>
                <tr th:each="client : ${clients}">
                    <td th:text="${client.loginName}"></td>
                    <td th:text="${client.role}"></td>
                    <td class="actions-cell">

                        <form th:action="@{/adminPanel/updateModalClient}" method="get" style="display: inline;">
                            <input type="hidden" name="userName" th:value="${client.loginName}"/>
                            <button type="submit" class="delete-btn homePage-buttons">Update</button>
                        </form>

                        <div id="myModal1" class="modal hide">
                            <div class="modal-content">
                                <span class="close" onclick="closeModal('myModal1')">&times;</span>
                                <form class="centered-form-modal" th:action="@{/adminPanel/updateClient}" method="post">
                                    <div class="form-group">
                                        <label for="roleModal">Role:</label>
                                        <input th:placeholder="${roleModal}" type="text" id="roleModal" name="roleModal"/>
                                    </div>
                                    <input th:value="${idModal}" type="hidden" id="idModal" name="idModal"/>
                                    <div>
                                        <button class="homePage-buttons" type="submit">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <form th:action="@{/adminPanel/deleteClient}" method="post" style="display: inline;">
                            <input type="hidden" name="userName" th:value="${client.loginName}"/>
                            <button type="submit" class="delete-btn homePage-buttons">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="add-button-container">
            <button type="button" class="homePage-buttons" onclick="openModal('myModal')">+</button>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('myModal')">&times;</span>
            <form class="centered-form-modal" th:action="@{/adminPanel/createClient}" method="post">
                <div class="form-group">
                    <label for="userName">Username:</label>
                    <input type="text" id="userName" name="userName" required/>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="text" id="password" name="password" required/>
                </div>
                <div class="form-group">
                    <label for="role"> Role:</label>
                    <input type="text" id="role" name="role"/>
                </div>
                <div>
                    <button class="homePage-buttons" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="header-leftButtons">
    <div class="dropdown-container">
        <div class="dropdown-wrapper">
            <button onclick="toggleDropdown()" class="dropdown-toggle">
                Menu
            </button>
            <div id="dropdown-menu" class="dropdown-menu">
                <div class="dropdown-menu-items">
                    <form id="first-dropdown-item" th:action="@{/logout}" method="post">
                        <button type="submit" class="homePage-buttons" id="header-first-leftButton">Logout</button>
                    </form>
                    <form th:action="@{/database/deleteAll}" method="post">
                        <button type="submit" class="homePage-buttons">Delete All</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="userTabContainer" class="tab-container">
    <!-- Вкладки для пользователей появятся здесь -->
</div>

<div id="userChatContainer" class="chat-container">
    <!-- Чаты с пользователями появятся здесь -->
</div>


<script th:src="@{main.js}"></script>
</body>
</html>
