<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Aliexpress Login</title>
    <link rel="stylesheet" th:href="@{styles.css}"/>
</head>
<body id="login-page">
<div id="notifications"></div>
<div th:if="${param.error}" data-message="Invalid username and password."></div>
<div th:if="${param.logout}" data-message="You have been logged out."></div>

<form class="login-form" th:action="@{/login}" method="post">
    <div class="form-container">
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="common-input" type="text" id="username" name="username" required/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="common-input" type="password" id="password" name="password" required/>
        </div>
        <div class="buttons-auth-container">
            <button class="auth-button" type="submit">Sign In</button>
            <span>Or</span>
            <button type="button" class="auth-button" onclick="openModal('myModal')">Register</button>
        </div>
    </div>
</form>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('myModal')">&times;</span>
        <div class="centered-form-modal">
            <form th:action="@{/register}" method="post">
                <div class="form-container">
                    <div class="form-group">
                        <label for="register-username">Username:</label>
                        <input class="common-input" type="text" id="register-username" name="name" required/>
                    </div>
                    <div class="form-group">
                        <label for="register-password">Password:</label>
                        <input class="common-input" type="password" id="register-password" name="password" required/>
                    </div>
                    <div class="button-container">
                        <button class="auth-button" type="submit">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{main.js}"></script>
</body>
</html>